/** 
SOURCE: https://codepen.io/gabrielcarol/pen/rGeEbY
**/ 

#pianoVis html  {
        background: #000;
        font-family: 'Noto Serif', serif;
        -webkit-font-smoothing: antialiased;
        text-align: center;
      }

      #pianoVis video#bgvid { 
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        background-size: cover; 
    }

    #pianoVis header {
      position: relative;
      margin: 30px 0;
    }

    #pianoVis header:after {
      content: '';
      width: 460px;
      height: 15px;
      background: url(images/intro-div.svg) no-repeat center;
      display: inline-block;
      text-align: center;
      background-size: 70%;
    }

    #pianoVis h1 {
        font-size: 36px;
        color: #314149;
    }

#pianoVis h2 {
    color: #314149;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: -35px;
}

#pianoVis h3 {
    color: #314149;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: -45px;
}

    #pianoVis .nowplaying {
      font-size: 80px;
      line-height: 1;
        font-family: "Neuton", sans-serif;
      color: #eee;
    margin-top: 40px;
      text-shadow: 0 0 5rem #314149;
      transition: all .07s ease;
      min-height: 80px;
    }

    #pianoVis .keys {
      display: block;
      width: 100%;
      height: 350px;
      max-width: 880px;
      position: relative;
      margin: 40px auto 0;
      cursor: none;
    }

    #pianoVis .key {
      position: relative;
      border: 4px solid black;
      border-radius: .5rem;
      transition: all .07s ease;
      display: block;
      box-sizing: border-box;
      z-index: 2;
    }

    #pianoVis .key:not(.sharp) {
      float: left;
      width: 10%;
      height: 100%;
      background: rgba(255, 255, 255, .8);
      color:#000;    
    }

    #pianoVis .key.sharp {
      position: absolute;
      width: 6%;
      height: 60%;
      background: #000;
      color: #eee;
      top: 0;
      z-index: 3;
    }

    #pianoVis .key[data-key="87"] {
      left: 7%;
    }

    #pianoVis .key[data-key="69"] {
      left: 17%;
    }

    #pianoVis .key[data-key="84"]  {
      left: 37%;
    }

    #pianoVis .key[data-key="89"] {
      left: 47%;
    }

    #pianoVis .key[data-key="85"] {
      left: 57%;    
    }

    #pianoVis .key[data-key="79"] {
      left: 77%;    
    }

    #pianoVis .key[data-key="80"] {
      left: 87%;    
    }

    #pianoVis .playing {
      transform: scale(.95);
      border-color: #028ae9;
      box-shadow: 0 0 1rem #028ae9;
    }

    #pianoVis .hints {
      display: block;
      width: 100%;
      opacity: 0;
      position: absolute;
      bottom: 7px;
      transition: opacity .3s ease-out;
      font-size: 20px;
    }

    #pianoVis .keys:hover .hints {
      opacity: 1;
    }