.container {
  width: 80%; /* Use percentage for width */
  padding: 1rem; /* Use rem for padding */
}

.element {
  font-size: 2vw; /* Use viewport width for font size */
}

body {
  background-color: #c0c9ce; /* Spotify's dark background */
  color: #fff; /* White text color for contrast */
  font-family: "Neuton", sans-serif; /* Using Neuton font */
}

.center-vertically {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container-fluid {
  padding-right: 30px;
  padding-left: 30px;
}

.axis line,
.axis path {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
}

.tick text {
  font-family: sans-serif;
  font-size: 11px;
  fill: #555;
}

#priovis .x-axis text {
  font-weight: 600;
}

.area {
  fill: #825a5a;
}

.area.area-age {
  fill: #94a97a;
}

.bar {
  fill: #8aa4ad;
}

#topTrackVis {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between album covers */
}

.album-cover {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  cursor: pointer;
  transition: transform 0.2s; /* Smooth transformation on click */
}

.album-cover.selected {
  transform: scale(0.9); /* Slightly scale down the cover when selected */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Add shadow to highlight */
}


button {
  background-color: #8aa4ad;
  color: #fff; /* White text on buttons */
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#stream-vis {
  margin-top: 8px;
  margin-bottom: 80px;
  border-radius: 10px;
}

.data-box {
  color: #fff; /* White text for the data boxes */
  background-color: #8aa4ad;
  border-radius: 5px; /* Rounded corners for the boxes */
  margin: 5px; /* Spacing between boxes */
  display: flex;
  color: white;
  font-weight: bold;
  font-family: "Neuton", sans-serif;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 1em;
}

#songInfo, #songInfo2 {
  font-size: 22px;
  text-align: left;
  font-family: "Neuton", sans-serif;
  width: 100%;
  margin-top: 20px;
  margin-left: 9px;
  color: #314149;
}

#songDropdown {
  background-color: white;
  color: #314149;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 30%; /* Width can be adjusted as needed */
  border: none; /* Remove the default border */
  border-radius: 0; /* Style the border-radius as per your design preference */
  appearance: none; /* Removes default style for most browsers */
  cursor: pointer; /* Change cursor to indicate this is a dropdown */
  padding: 10px 20px;
  text-align: center; /* Center the text inside the dropdown */
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* You can add a hover effect if you like */
#songDropdown:hover {
  background-color: #e9e9e9; /* Slightly different background on hover */
}

.row {
  /* Ensure that row elements are centered */
  justify-content: center;
}

.col-md-6 {
  /* Flexbox to align items within each column */
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip {
  position: absolute;
  background-color: #f8f8f8; /* Light background */
  border: 1px solid #ccc; /* Border for the tooltip */
  border-radius: 4px;
  padding: 8px;
  color: #333;
  font-size: 0.9em;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Optional: shadow for better visibility */
  white-space: nowrap; /* Prevents text wrapping */
}

#wordCloud {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Optional: Set the height to full viewport height */
  text-align: center; /* Center the text inside the wordCloud */
}

.subtitle {
  color: #314149;
  font-size: 16px;
}

.danceability-label, .songClockLabel {
  margin-left: 8px;
}

#energyStickFigure, #dancingStickFigure, #songClock {

  margin-bottom: 20px;
  align-items: flex-start;
}

#energySection {
  margin-left: -90px;
}

#category {
  width: 250px;
  text-align: center;
  color: #314149;
  margin-left: -10px;
}

#dropdown-label {
  align-items: center;
  margin-left: -10px;
}

h1 {
  font-size: 36px;
  color: #314149;
  margin-top: 5px;
  margin-bottom: 15px;
}

h5 {
  font-size: 48px;
  color: white;
}

#quote-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-style: italic;
  font-size: 26px;
  color:  #314149;
}

.big-title {
  background-color: #8aa4ad;
  border-radius: 15px; /* Adjust for more or less rounded corners */
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for a "lifted" effect */
}

.right-title {
  background-color: #8aa4ad;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for a "lifted" effect */
  height: 100%;
}

h2 {
  color: #314149;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 30px;
}

h6 {
  color: #314149;
  font-size: 24px;
  font-style: italic;
}

#pianoVis {
  color: #314149;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 30px;
}
/* music notes around section change */
.music-note {
  font-size: 30px; /* Base size for notes */
  color: #314149; /* You can use any color */
  margin: 0 40px; /* Adjust spacing around each note */
  display: inline-block;
  vertical-align: middle; /* Adjust vertical alignment if needed */
}

/* Example: Vary the sizes of individual notes */
.music-note:nth-child(1) { font-size: 40px; }
.music-note:nth-child(2) { font-size: 30px; }
.music-note:nth-child(3) { font-size: 20px; }
.music-note:nth-child(4) { font-size: 40px; }
.music-note:nth-child(5) { font-size: 30px; }
.music-note:nth-child(6) { font-size: 20px; }
.music-note:nth-child(7) { font-size: 40px; }
.music-note:nth-child(8) { font-size: 30px; }
.music-note:nth-child(9) { font-size: 20px; }
.music-note:nth-child(10) { font-size: 40px; }
.music-note:nth-child(11) { font-size: 30px; }
.music-note:nth-child(12) { font-size: 20px; }
.music-note:nth-child(13) { font-size: 40px; }
.music-note:nth-child(14) { font-size: 30px; }
.music-note:nth-child(15) { font-size: 20px; }
.music-note:nth-child(16) { font-size: 40px; }
.music-note:nth-child(17) { font-size: 30px; }
.music-note:nth-child(18) { font-size: 20px; }
.music-note:nth-child(19) { font-size: 40px; }
.music-note:nth-child(20) { font-size: 30px; }
.music-note:nth-child(21) { font-size: 20px; }
.music-note:nth-child(22) { font-size: 50px; }
.music-note:nth-child(23) { font-size: 30px; }
.music-note:nth-child(24) { font-size: 40px; }

#imagesection, #imagesection2{
  font-size: 22px;
  width: 90%;
  color: #314149;
  height: 120%;
}

/* This styles the scrollbar track */
.genre-select::-webkit-scrollbar-track {
  background: #c0c9ce; /* The color of the scrollbar track */
  border-radius: 10px; /* Optional: to make the track corners rounded */
}

/* This styles the scrollbar thumb (the part that you drag) */
.genre-select::-webkit-scrollbar-thumb {
  background: #888; /* The color of the thumb */
  border-radius: 10px; /* Optional: to make the thumb corners rounded */
}

/* This handles the hover effect over the scrollbar thumb */
.genre-select::-webkit-scrollbar-thumb:hover {
  background: #555; /* The color of the thumb when hovered */
}

/* This styles the scrollbar itself (width, color) */
.genre-select::-webkit-scrollbar {
  width: 10px; /* The width of the entire scrollbar */
}

.genre-select {
  scrollbar-width: thin; /* Can be 'thin' or 'auto' */
  scrollbar-color: #888 #f1f1f1; /* thumb and track color */
  height: 80%;
  background-color: #c0c9ce;
  color:rgb(49, 65, 73);
}


